   /*Style MENU*/
.container--modifier {
    display: flex;
    align-items: stretch;
}
.logo{
    width: 180px;
    height: 80px;
    padding-top: 15px;
    line-height: 51px;
}
ul{
    list-style-type: none;
    text-align: center;
    font-size: 16px;
}
.id, .id1{
    text-align: right;
    margin-bottom: 5px;
}
.list{
    color: black;
}
input {
    outline: none;
    padding-right: 30px;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
.col-md-6 .menu-2{
    margin-top: 15px;
}

input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 10px 45px 9px 50px;
    width: 144px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}
.box-support {
    margin-top: 35px;
    padding-right: 15px;
}
.info-block {
    height: 100%;
}
.block-mail, .block-call {
    display: inline-block;
}
.mail-sp, .call-sp{
    padding: 8px 5px;
}
.block-mail a{
    text-decoration: none;
    color: white;
}
.mail-sp{
    display: inline-block;
    background:#1185de;
    border-radius: 5px;
}
.block-call a{
    text-decoration: none;
    color: white;
}
.call-sp{
    display: inline-block;
    background:#f39800;
    border-radius: 5px;
}
.top-link, .dropdown-link {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.top-link::after {
    content:"";
    display: table;
    clear: both;
}
.top-link-li {
    position: relative;
    font-size: 14px;
    float: left;
}
.dropdown-link {
    background-color: #1185deb8;
    position: absolute;
    min-width: 160px;
    font-size: 17px;
    display: none;
}
.top-link-li > a, .dropdown-link-li > a{
    display: block;
    padding: 15px 10px;
    text-decoration: none;
}
.dropdown-link-li > a {
    padding: 12px 10px;

}

